.Main {
  min-height: 86vh;
  // width: 100vw;
  // background-color: black;
  background: #e2f5fd;
  background-size: cover;
  background-attachment: scroll;
  padding-top: 50px;
  padding-bottom: 50px;
}
